<div class="main" appDrumkitPlay>
    <div class="keys" >
        <div data-key="a" class="key">
          <kbd>A</kbd>
          <span class="sound">clap</span>
        </div>
        <div data-key="s" class="key">
          <kbd>S</kbd>
          <span class="sound">hihat</span>
        </div>
        <div data-key="d" class="key">
          <kbd>D</kbd>
          <span class="sound">kick</span>
        </div>
        <div data-key="f" class="key">
          <kbd>F</kbd>
          <span class="sound">openhat</span>
        </div>
        <div data-key="g" class="key">
          <kbd>G</kbd>
          <span class="sound">boom</span>
        </div>
        <div data-key="h" class="key">
          <kbd>H</kbd>
          <span class="sound">ride</span>
        </div>
        <div data-key="j" class="key">
          <kbd>J</kbd>
          <span class="sound">snare</span>
        </div>
        <div data-key="k" class="key">
          <kbd>K</kbd>
          <span class="sound">tom</span>
        </div>
        <div data-key="l" class="key">
          <kbd>L</kbd>
          <span class="sound">tink</span>
        </div>
      </div>

      <audio data-key="a" src="./../../assets/01/sounds/clap.wav"></audio>
      <audio data-key="s" src="./../../assets/01/sounds/hihat.wav"></audio>
      <audio data-key="d" src="./../../assets/01/sounds/kick.wav"></audio>
      <audio data-key="f" src="./../../assets/01/sounds/openhat.wav"></audio>
      <audio data-key="g" src="./../../assets/01/sounds/boom.wav"></audio>
      <audio data-key="h" src="./../../assets/01/sounds/ride.wav"></audio>
      <audio data-key="j" src="./../../assets/01/sounds/snare.wav"></audio>
      <audio data-key="k" src="./../../assets/01/sounds/tom.wav"></audio>
      <audio data-key="l" src="./../../assets/01/sounds/tink.wav"></audio>
</div>


